/* You can add global styles to this file, and also import other style files */

nav a.active {
    color: dodgerblue;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    background-color: #eeeeee;
    border-radius: 4px;
}

nav a:hover {
    color: aquamarine;
    background-color: #eeeeee;
}

